# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Virtual environment
venv/

# Ignore temporary files
*.log

# Local development tools
.vscode/
.idea/

# Optional: Specific to your workflow
# Add any other custom files or folders specific to your project that shouldn't be versioned.
